@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #050505;
  background-image: radial-gradient(circle at 50% 50%, #1a1a1a 0%, #000000 100%);
  color: white;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/* Bottone Generico Realistico 3D */
button:disabled { filter: grayscale(1); opacity: 0.5; cursor: not-allowed; }
